<div ng-controller="KbnTimeVisController" class="time-vis">
  <form ng-submit="setAbsolute()">
    <div style="display: inline-block;">
      <span ng-click="toggleCalendar()">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <div style="display: inline-block;">
      <div ng-model="time.absolute_from">{{time.absolute_from.format('YYYY-MM-DD HH:mm:ss')}}</div>
    </div>
    <div style="display: inline-block;">
      <div ng-model="time.absolute_to">{{time.absolute_to.format('YYYY-MM-DD HH:mm:ss')}}</div>
    </div>
      <button class="btn btn-primary" style="display: inline-block;" type="submit">
        Go
    </button>
        <div ng-if="calendar" class="calendar" style="display: block;">
          <datepicker ng-model="time.calendar_from" ng-click="calendarClick($event)" show-weeks="false"></datepicker>
        </div>
  </form>
</div>